:root {
    --primary: #BB86FC;
    --primary-v: #3700B3;
    --secondary: #03DAC6;
    --color0: #121212;
    --color1: #CF6679;
    --color2: #242424;
    --text1: #FFFFFF;
    --text2: #000000;
    --text3: #aaa;

    --accent1: #0f52e6;
    --accent2: #050374;
    --accent1_d: #00000090;
    --accent2_d: #00000050;
}

html,body {
    margin: 0;
    background-image: linear-gradient(225deg, var(--color0), var(--color2));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text1);
}

.content {
    margin: 1em;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 350px;
    max-width: 600px;
    border-radius: 1em;
    background: linear-gradient(var(--accent1), var(--accent2));
    padding: 4px;
}

.banner {
    height: 200px;
    background: url(../image/banner.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em 1em 0 0;
}

.border-wrapper {
    background: linear-gradient(var(--accent2_d), var(--accent1_d));
    border-radius: 1em;
}

.title {
    transform: translateY(-50%);
    margin-left: 10%;
}

.avatar {
    content: "";
    display: inline-block;
    background: #082376;
    width: 5.25em;
    height: 5.25em;
    padding-top: 0.25em;
    padding-left: 0.25em;
    border-radius: 2.8em;
}

.avt-img {
    width: 5em;
    height: 5em;
    display: inline-block;
    background: url(../image/avt.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2.5em;
}

.name-info {
    display: inline-block;
}

.name {
    font-size: x-large;
}

.subname {
    font-size: small;
    color: var(--text3);
}

.body {
    margin-left: 1em;
    margin-right: 1em;
    background-color: #00000060;
    padding: 0.75em;
    border-radius: 5px;
}

.short-desc {
    font-size: small;
    font-style: italic;
    text-align: center;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: inherit;
}

.social {
    text-align: center;
}

.social-button {
    background-color: #FFFFFF20;
    padding: 1em;
    border-radius: 1em;
    margin-top: 0.25em;
    font-size: large;
    text-align: left;
}

.social-button:hover {
    background-color: #FFFFFF40;
}

.social-button i {
    color: var(--text3);
}