body {
    margin: 0px;
}

.a-header {
    height: 50px;
    background-color: #222121;
    color: white;
    padding-top: 20px;
}

.aA-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-left: 40px;
}

.b-titleLink {
    text-decoration: none;
    color: white;
}

.c-nav {
    float: right;
}

header ul {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: sans-serif;
}

header ul li {
    padding-top: 6px;
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    background: #03505c;
    border-radius: 20px;
}

header ul li a:hover {
    background: #fff;
    color: #03505c;
}