body {
    margin: 0px;
}

.a-header {
    height: 50px;
    background-color: #222121;
    color: white;
    padding-top: 20px;
}

.aA-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-left: 40px;
}

.b-titleLink {
    text-decoration: none;
}

.c-nav {
    float: right;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    align-items: center;
    padding: 6px 15px;
}